
/* ESTILOS GENERALES  */
body {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

p {
  text-align: justify;
}


/*ESTILOS PARA RESPONSIVE */

@media (max-width:500px) {
.default-instance img {
  aspect-ratio: 1/2;
   object-fit:cover;
   object-position: -600px;
  }
}


@media (max-width:850px) {
  #carouselProyectos .max-image-width {
    max-width: 375px;
  }
}


@media (max-width: 1367px) {
  .max-image-width {
    max-width: 1000px;
  }

}

@media (min-width:  1368px) {
  .max-image-width {
    max-width: 1100px;
  }

}


@media (min-width:  991px) {
.video-texto {
  height: 371px;
  overflow-y:scroll;
}
}

/* MENU PRINCIPAL TOP NAVBAR */

.navbar-nav .nav-item:hover .nav-link {
  color: black;
}

.navbar {
  border-bottom: rgb(211, 206, 206) solid 1px;
}

/* Proyectos */
.proyecto-instance{
  position: relative;
  cursor:default;
  text-align: center;
}

.proyecto-overlay {
position:absolute;
left:0;
top:0;
width:100%;
height:100%;
overflow: hidden;
color:white;
text-align: center;
cursor: pointer;
background-color: black;
opacity: 0;
filter:alpha(opacity=0);
transition: opacity 1s;
}

.proyecto-instance:hover  .proyecto-overlay{
  opacity: 70%;
filter:alpha(opacity=70);
}

.proyecto-overlay h5{
  margin-top:45%;
  /* background: rgba(0,0,0,.6); */
  padding:0.5rem;
  opacity:100% ;
filter:alpha(opacity=1);
}


.proyecto-img {
  aspect-ratio: 1/1;
  object-fit:cover
 }

 /* Proyecto individual */

 .proyecto-instance-img {
  cursor: pointer;
 }

 .default-instance{
  position: relative;
  cursor:default;
  text-align: center;
}

 .default-overlay {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow: hidden;
  color:white;
  text-align: center;
  cursor: pointer;
  background-color: black;
  opacity: 0%;
  filter:alpha(opacity=0);
  transition: opacity 1s;
  }


  .home-overlay {
    opacity: 50%;
    filter:alpha(opacity=50);
    }
  

 .default-instance:hover  .default-overlay{
  opacity: 50%;
filter:alpha(opacity=50);
}

/* CARUSEL de proyecto  */
.carousel-item {
  width: auto;
}

 #carousel_next, #carousel_prev {
    font-size:3rem;
  }


#carousel_next, #carousel_prev {
color:#1f1d1d;
}


#carousel_next:hover, #carousel_prev:hover {
  color:#554f4f;
}

/* PIE CONTACTO */
.contact_bottom{
  border-top: rgb(211, 206, 206) solid 0px;
  background-color: rgb(246, 246, 246);
  padding-top:0.2rem;
  padding-bottom:0.2rem;
 
}

.contact_bottom a {
  text-decoration: none;
  color:black;
}

.contact_bottom a:visited{
  text-decoration: none;
  color:black;
}

.contact_bottom span {
}

.contact_bottom .separador {
  margin:0 0.2rem 0 0.2rem;
}

/* Colaboraciones slider */

.colaboraciones_slider{
  display: flex;
  width: 100%;
  align-items: center;
  }
  #slider_next, #slider_prev {
    font-size:3rem;
    color:#1f1d1d;
  }
  
  
  #slider_next:hover, #slider_prev:hover {
  color:#554f4f;
  }
  
  .inner_slider{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    }
  
    .inner_slider::-webkit-scrollbar {
      display: none;
    }
  
    .firstslide {
      transform: translate(0px);
    }
  
  
  .colaboraciones_slider .slide{
  display: flex;
  margin-right: 1.5rem;
  }
  
  .colaboraciones_slider .slide img {
    height:500px;
    display: block;
    object-fit: contain;
    margin-right: 0.1rem;
    }
    
    .colaboraciones_slider .inner_slider {
      cursor:grab;
    }
  
    .colaboraciones_slider .txt {
    height:500px;
    background-color: rgb(246, 247, 252);
    width: 350px;
    padding-top:6rem;
    padding-right:1.5rem;
    padding-left:1.5rem;
    margin-right: 0.1rem;
  }
  
  .colaboraciones_slider  .txt p{
    /* margin-top: 8rem; */
  
    }
  
    .colaboraciones_slider .portada  {
      padding-top:1rem;
     }
    
  
     .colaboraciones_slider .portada p {
   margin-top: 1rem;
  }
  