
html,
body {
  height: 100%;
}

 .gx-1 {
    --bs-gutter-x: 0.05rem;
}

.gy-1 {
  --bs-gutter-y:  0.05rem;
}



@media (max-width: 1367px) {

  .max-image-width {
    max-width: 850px;
  }

  .carousel-item img.fixh {
    max-height: 567px;
    }

}


@media (min-width:  1368px) {

  .max-image-width {
    max-width: 1000px;
  }

   .carousel-item img.fixh {
    max-height: 667px;
    }

}

.carousel-item {
  width: auto;
}

  

.img-proyects {
 max-width:400px
}

/* .proyectos .row .col {
  padding:0 2px 0 0;
  margin-bottom: 2px;
  }
 */

