
html,
body {
  height: 100%;
}

.max850 {
  max-width: 850px;
}

#carouselhuay {
  max-width: 850px;
}

.carousel-item {
  width: auto;
}


.carousel-item img.fixh {
  max-height: 567px;
  }
  
.fixw-744 {
  max-width: 744px;
}